<div class="text-center">
<div class="solution-title">
<h5>【質問】</h5>
<p><%= markdown(@question.title).html_safe %></p>
</div>
<hr>
<div class="solution-detail">
<h5>【詳細】</h5>
<p><p><%= markdown(@question.detail).html_safe %></p>
</div>
</div>