<!DOCTYPE html>
<html>
  <head>
    <title>GyakutenCloneGroup9</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="XTnbtRf2vy67i0sT/TlOE8IYuNnbfrRzf4L/OslzblkPFiwtqnGbXySj2TeupIIvlZJ0C37TYFhcPigVTETdNA==" />
    

    <%= stylesheet_link_tag "movies", :media => "all" %>
  </head>

  <body>
    <% @movies.first(10).each do |movie| %> 
      <div class="text-center">
      <div class="movie-title">
        <%= movie.title %>
      </div>
        <div class="movie-contents">
          <iframe width="560" height="315" src="<%= movie.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        　</div>
  </div> 
    <% end %>  
  </body>
</html>
