.container
{
  margin: 0 auto;
  width: 55%;
}

.questions
{
  padding-top: 10%;
}
.questions h1
{
  font-size: 30px;
}


.question-container
{
  height: 150px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  transition: transform .5s ease-in-out;
  margin-bottom: 10%;
  cursor: pointer;
}
.question-container a
{
  text-decoration: none;
}

.question-container:hover
{
  border: 2px solid red;
  transform: translateY(-10%);
}

.question-container .row
{
  margin: 5px;
}


.question-title
{
  margin: 5px;
  color: black;
}
.question-date
{

}
.question-date p
{
  font-size: 16px;
  color: #BBBBBB;
}
